{
    "tabWidth": 4,
    "printWidth": 80,
    "useTabs": false,
    "bracketSameLine": true,
    "bracketSpacing": false,
    "endOfLine": "auto",
    "plugins": ["./tools/prettier-plugin-remove-blank-lines.mjs"],
    "overrides": [
        {
            "files": ["**/*.yml", "**/*.yaml"],
            "options": {
                "parser": "yaml",
                "tabWidth": 2
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "parser": "json",
                "useTabs": true,
                "bracketSameLine": false
            }
        }
    ]
}
